<h2>Current weather</h2>
<img class="icon" src="https://{{current.condition.icon}}" alt="{{current.condition.text}}" />

<p>Location: <span>{{location.name}}</span></p>
<p>Temperature: <span>{{current.temp_c}}&#8451;</span></p>
<p>Humidity: <span>{{current.humidity}}%</span></p>
<p>Wind: <span>{{current.wind_kph}}kph</span></p>
<p>Conditions: <span>{{current.condition.text}}</span></p>